<section>
  <div>
    <h1>Simple REST API</h1>
    <h3 class="text-muted">Basic movie database interacting with external API</h3>
  </div>
  <div>
    <form action="">
      <label for="">Add a movie</label>
      <input type="text">
      <button type="submit" class="btn btn-primary btn-default">Add</button>
    </form>
  </div>
  <br/>
  <div>
    <form action="">
      <label for="">Find a movie</label>
      <input type="text">
      <button type="submit" class="btn btn-primary btn-default">Find</button>
      <button type="submit" class="btn btn-primary btn-default">Find All</button>
    </form>
  </div>
</section>