<section>
  <div>
    <h1>Simple REST API</h1>
    <h3 class="text-muted">Basic movie database interacting with external API</h3>
  </div>
  <div class="wrapper">
    <form id="addMovie" method="post" action="/movies">
      <label for="title">Add a movie: </label>
      <input id="title" name="title" type="text" placeholder="i.e. Gladiator" required>
      <button type="submit" form="addMovie" class="left btn btn-primary btn-default">Add Movie</button>
    </form>
    <form id="getMovie" method="get" action="/movies">
      <button type="submit" form="getMovie" class="right btn btn-primary btn-default">Find All Movies</button>
    </form>
    <br>
    <form id="addComment" method="post" action="/comments">
      <label for="comment">Add a comment: </label>
      <textarea id="comment" name="comment" form="addComment" placeholder="i.e. It was nice" rows="1" required></textarea>
      <label for="movie_id">to a movie: </label>
      <input id="movie_id" name="movie_id" type="text" placeholder="i.e. 3" required>
      <button type="submit" form="addComment" class="left btn btn-primary btn-default">Add Comment</button>
    </form>
    <form id="getComment" method="get" action="/comments">
      <button type="submit" form="getComment" class="right btn btn-primary btn-default">Find All Comments</button>
    </form>
  </div>
</section>