{{#if data}}
  <table class="table table-sm table-bordered table-hover">
    <thead>
    <th>ID</th>
    <th>Comment</th>
    <th>Published date</th>
    </thead>
    <tbody>
    {{#each data}}
      <tr>
        <td>{{movie_id}}</td>
        <td>{{comment}}</td>
        <td>{{published_date}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="alert alert-danger">There should be a table here</div>
{{/if}}