<div class="flex-container">
  <form id="addMovie" method="post" action="/movies">
    <label for="title">Add a movie: </label>
    <input id="title" name="title" type="text" placeholder="i.e. Gladiator" required>
    <button type="submit" form="addMovie" class="left btn btn-primary btn-default">Add Movie</button>
  </form>
  <a href="/movies">
    <button class="btn btn-primary btn-default">Find All Movies</button>
  </a>
</div>
