<div>
  <a href="/">
    <button class="btn btn-outline-secondary">Back</button>
  </a>
</div>
{{#if data}} {{#each data}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{genre}}</h6>
  </div>
</div>
{{/each}} {{else}}
<div class="alert alert-danger">There should be something here</div>
{{/if}}
