body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.poster {
  align-self: flex-start;
}
.comment-section {
  align-self: flex-start;
}
.movie-info {
  width: 40%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(max-content, 150px));
  margin: 0 auto;
  justify-content: center;
  grid-gap: 10px;
}
