body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.poster {
  align-self: flex-start;
}
.comment-section {
  align-self: flex-start;
}
.movie-info {
  width: 40%;
}
